extends extends/layout.pug

block html_head
	- var pageTitle = 'Фото и поэзия не на заказ'
	- var pageDescription = 'Для тех, кто чуток сердцем'
	- var pageKeywords = 'фото фотография искусство поэзия стихи стихотворения'

block html_head_og
	- var ogUrl = ''

block html
	- var bodyclass = ''

block content
	.screen.section-main.section-title
		.clipped-reveal
			h1.text-clipped.text-smooth(style="background-image:url('assets/i/photos/P1010245.JPG');") TRAPRA
			.clipped-reveal-block(style="background-image:url('assets/i/photos/P1010245.JPG');")

		nav
			a(href="poem-1.html") Вперед &rarr;