extends extends/layout.pug

block html_head
	- var pageTitle = 'Фото и поэзия не на заказ'
	- var pageDescription = 'Для тех, кто чуток сердцем'
	- var pageKeywords = 'фото фотография искусство поэзия стихи стихотворения'

block html_head_og
	- var ogUrl = ''

block html
	- var bodyclass = ''

block content
	.screen.section-main
		.clipped-reveal
			.w-text
				.text-clipped.text-smooth.light(style="background-image:url('assets/i/photos/poem-1.JPG');")
					| Столбы различной кривизны
					br/
					| Из неба в землю встолблены.
					br/
					| Кривятся, гнутся и стареют,
					br/
					| Столбливостью своей алеют,
					br/
					| То крошатся, то заржавеют.

			.clipped-reveal-block(style="background-image:url('assets/i/photos/poem-1.JPG');")

		nav
			a(href="index.html") Главная
			a(href="poem-2.html") Вперед &rarr;