section
  {
    margin-top: rem($vertical-rythm*4);
    margin-bottom: rem($vertical-rythm*4);
  }

.section-padding
  {
    padding-top: rem($vertical-rythm*4);
    padding-bottom: rem($vertical-rythm*4);
  }

.section-main
	{
		position: relative;
		padding-bottom: rem(100px);
    	padding-top: rem(40px);

		nav
			{
				position: absolute;
				bottom: rem(40px);
				left: 0;
				right: 0;

				text-align: center;
				font-size: rem(18px);
				line-height: 1.2;

				a
					{
						color: $c-gray--dark;
						margin-left: 20px;
						&:first-child { margin-left: 0; }
					}
			}
	}

.dark .section-main nav a
	{
		color: $c-light--vivid;
	}


.section-title
	{
		h1
			{
				font-size: rem(200px);

				@include mobile() { font-size: rem(60px); }
    			@include tablet() { font-size: rem(80px); }
    			@include desktop() { font-size: rem(100px); }
    			@include wide() { font-size: rem(250px); }
			}
	}


#avatar
	{
		width: 280px;
		height: 317px;

		position: relative;

		img
			{
				position: absolute;
				top: 0;
				left: 0;
				max-width:100%;
				display: block;
				opacity: 0.4;
			}
	}

span[class *= 'sprite-avatar-p-']
	{
		position: absolute;
		// animation-delay: 0.5s;
		// animation-duration: 0.8s;
		// animation-fill-mode: forwards;
	}


// $i: 62;
// @while $i > 0 {

// 	$x: #{random(500)-250}px;
// 	$y: #{random(500)-250}px;
// 	$r: #{random(360)-180}deg;

// 	@keyframes avatar-part-#{$i} {
// 	  0% {
// 	    transform: translateX($x) translateY($y) rotate($r);
// 	  }
// 	  100% {
// 	    transform: translateX(0) translateY(0) rotate(0);
// 	  }
// 	}

// 	.sprite-avatar-p-#{$i} {
// 		transform: translateX($x) translateY($y) rotate($r);
// 		animation-name: avatar-part-#{$i};
// 	}

// 	$i: $i - 1;
// }


.sprite-avatar-p-1 { top: 30px; left: 154px; }
.sprite-avatar-p-2 { top: 53px; left: 170px; }
.sprite-avatar-p-3 { top: 29px; left: 128px; }
.sprite-avatar-p-4 { top: 27px; left: 129px; }
.sprite-avatar-p-5 { top: 25px; left: 112px; }
.sprite-avatar-p-6 { top: 33px; left: 72px; }
.sprite-avatar-p-7 { top: 32px; left: 61px; }
.sprite-avatar-p-8 { top: 33px; left: 55px; }
.sprite-avatar-p-9 { top: 46px; left: 51px; }
.sprite-avatar-p-10 { top: 46px; left: 44px; }
.sprite-avatar-p-11 { top: 78px; left: 42px; }
.sprite-avatar-p-12 { top: 55px; left: 44px; }
.sprite-avatar-p-13 { top: 35px; left: 44px; }
.sprite-avatar-p-14 { top: 40px; left: 47px; }
.sprite-avatar-p-15 { top: 16px; left: 47px; }
.sprite-avatar-p-16 { top: 7px; left: 61px; }
.sprite-avatar-p-17 { top: 16px; left: 61px; }
.sprite-avatar-p-18 { top: -2px; left: 74px; }
.sprite-avatar-p-19 { top: -2px; left: 98px; }
.sprite-avatar-p-20 { top: 0px; left: 109px; }
.sprite-avatar-p-21 { top: 10px; left: 109px; }
.sprite-avatar-p-22 { top: 24px; left: 144px; }
.sprite-avatar-p-23 { top: 26px; left: 154px; }
.sprite-avatar-p-24 { top: 95px; left: 51px; }
.sprite-avatar-p-25 { top: 115px; left: 57px; }
.sprite-avatar-p-26 { top: 115px; left: 62px; }
.sprite-avatar-p-27 { top: 94px; left: 62px; }
.sprite-avatar-p-28 { top: 93px; left: 106px; }
.sprite-avatar-p-29 { top: 93px; left: 100px; }
.sprite-avatar-p-30 { top: 139px; left: 101px; }
.sprite-avatar-p-31 { top: 94px; left: 62px; }
.sprite-avatar-p-32 { top: 117px; left: 50px; }
.sprite-avatar-p-33 { top: 129px; left: 56px; }
.sprite-avatar-p-34 { top: 129px; left: 50px; }
.sprite-avatar-p-35 { top: 148px; left: 59px; }
.sprite-avatar-p-36 { top: 155px; left: 59px; }
.sprite-avatar-p-37 { top: 147px; left: 68px; }
.sprite-avatar-p-38 { top: 176px; left: 72px; }
.sprite-avatar-p-39 { top: 184px; left: 73px; }
.sprite-avatar-p-40 { top: 186px; left: 84px; }
.sprite-avatar-p-41 { top: 201px; left: 103px; }
.sprite-avatar-p-42 { top: 199px; left: 83px; }
.sprite-avatar-p-43 { top: 206px; left: 104px; }
.sprite-avatar-p-44 { top: 203px; left: 136px; }
.sprite-avatar-p-45 { top: 204px; left: 129px; }
.sprite-avatar-p-46 { top: 197px; left: 129px; }
.sprite-avatar-p-47 { top: 191px; left: 146px; }
.sprite-avatar-p-48 { top: 191px; left: 156px; }
.sprite-avatar-p-49 { top: 169px; left: 166px; }
.sprite-avatar-p-50 { top: 126px; left: 170px; }
.sprite-avatar-p-51 { top: 126px; left: 178px; }
.sprite-avatar-p-52 { top: 180px; left: 120px; }
.sprite-avatar-p-53 { top: 142px; left: 96px; }
.sprite-avatar-p-54 { top: 161px; left: 90px; }
.sprite-avatar-p-55 { top: 169px; left: 90px; }
.sprite-avatar-p-56 { top: 161px; left: 85px; }
.sprite-avatar-p-57 { top: 144px; left: 105px; }
.sprite-avatar-p-58 { top: 144px; left: 103px; }
.sprite-avatar-p-59 { top: 140px; left: 112px; }
.sprite-avatar-p-60 { top: 141px; left: 118px; }
.sprite-avatar-p-61 { top: 141px; left: 117px; }
.sprite-avatar-p-62 { top: 143px; left: 131px; }