/* EXTENDS */
%font_base
	{
		font-size: rem($font-size-basic);
		line-height: 1.4;
		font-family: $font-family-base;
		word-spacing: normal;
		letter-spacing: 0;
		font-weight: 300;
	}




/* TITLES */
#{headings()}
	{
		margin-top: rem($vertical-rythm*4);
		margin-bottom: rem($vertical-rythm);
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;

	  	&:first-child
		  	{
		  		margin-top: 0;
			}
	}


@for $i from 2 through 5
	{
	  h#{$i}{
	    font-size: rem($font-size-title - 6 * $i);
	    font-weight: 400;
	  }
	}


h1
	{
		font-size: rem($font-size-title);
		margin-bottom: rem($vertical-rythm*2);
	}





/* TEXT ELEMENTS */
a 
	{
	  @extend %link_noline;
	  transition: 0.2s ease-in all;
	}

ul, ol
	{
	  margin-left: 20px;
	  margin-bottom: rem($vertical-rythm);

	  ul, ol{
	  	margin-top: rem($vertical-rythm);
	  }
	}



li, p, blockquote
	{
	  margin-bottom: rem($vertical-rythm);

	  &:last-child{
	  	margin-bottom: 0;
	  }
	}

hr
	{
		margin: rem($vertical-rythm 0);
		background-color: $c-gray--dark;
		height: 1px;
		border: 0;
	}

b { font-weight: 500; }





/* TEXT ADDITIONAL FORMAT */
.t-align-center { text-align: center; }
.t-align-right { text-align: right; }
.t-align-left { text-align: left; }

.t-paragraph-hyphened
	{
		text-align: justify;
		hyphens: auto;
	}

.t-paragraph-nowrap { white-space: nowrap; }


.t-uppercase
	{
		text-transform: uppercase;
		letter-spacing: 1px;
	}


.i-block
	{
		@extend %i_block;
	}


.clipped-reveal
	{
		transition: 0.2s ease all;

		.clipped-reveal-block{
			position: absolute;
			top: 100px;
			left: 0;
			right: 0;
			bottom: 100px;
			z-index: 0;

			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			opacity: 0;
		}

		&:hover{
			.clipped-reveal-block{
				animation: 0.4s FadeIn ease-in forwards;
			}

			// h1, p, div { color: $c-light--vivid;}
		}
	}

.text-clipped
	{
		position: relative;
		z-index: 1;
	}



.text-clipped
	{
		background-clip: text;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		color: transparent;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		transition: 0.2s ease all;

		// &:hover{
		// 	background-clip: border-box;
		// 	-webkit-background-clip: border-box;
		// 	-moz-background-clip: border-box;
		// 	color: $c-light--vivid;
		// }
	}

.text-smooth
	{
		opacity: 0;
		animation: 0.3s FadeIn ease-in forwards;
		transition: font-size 0.1s ease;
		transform-origin: 50% 50%;
	}